extends default

block content
    script.
        document.addEventListener('DOMContentLoaded', function() {
            const observer = new IntersectionObserver((entries) => {
                entries.forEach(entry => {
                    if (entry.isIntersecting) {
                        entry.target.classList.remove('hidden'); // Remove the hidden class
                        entry.target.classList.add('animate__animated');
                        entry.target.classList.add(entry.target.dataset.animate); // Apply the animation class
                        entry.target.classList.add(entry.target.dataset.delay); // Apply delay if present
                        observer.unobserve(entry.target); // Stop observing after animation
                    }
                });
            }, {
                threshold: 0.1 // Adjust the threshold as needed
            });

            document.querySelectorAll('[data-animate]').forEach(element => {
                element.classList.add('hidden'); // Add the hidden class initially
                observer.observe(element);
            });
        });

    style.
        .cta-button{
            font-size:1.3em;
        }
        .hidden {
            opacity: 0;
        }
        .b-custom-gradient-text {
            background: linear-gradient(90.9deg, #333333 2.74%, #777777 102.92%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
        .b-custom-gradient {
            background: linear-gradient(90.9deg, #333333 2.74%, #777777 102.92%);
        }
    //- ログインポップアップ
    #login-container.position-fixed.d-flex.align-items-center.d-none(data-animate="animate__fadeIn" onclick="hideLogin()" style="inset:0;z-index:99;background-color: #000000b0;")
        .position-fixed.top-50.start-50.translate-middle#positionElement.d-flex.justify-content-center
            .col(style="max-width: 90%;")
                #login-form.card.shadow.bg-light.border.border-white.text-center
                    .card-body.d-flex.flex-column.justify-content-center(style="min-height: 250px;")
                        h1.card-title.text-center 
                            span.b-custom-gradient-text.fw-bold Rakuado
                            span.small(style="font-size:18px;") へようこそ
                        span.fw-bold(style="font-size:16px;") 簡単設定で即スタート
                        .mb-3
                        .verify-email.d-none(style="min-height: 60px;")
                            span メールアドレスを確認してログインしてください
                            a#resend-email(href="#" style="display:block" onclick="resendSigninMail()") メールを再送する

                        form.d-none
                            .mb-3
                                label.d-none(for='email', class='form-label') メールアドレス:
                                .input-group
                                    input(type='email', name='email', id='email', class='form-control' placeholder="メールアドレスを入力してください")
                                    button.btn.btn-primary.shadow-0.input-group-append(type='submit') 
                                        i.fas.fa-arrow-circle-right
                        .separator.mb-3.d-none
                            hr
                            span または
                            hr
                        .container.text-center
                            a(href='/auth/google', class='google-login-button')
                                img.me-2(src='/img/googleauth.svg', alt='Googleで続ける')
                                span で続ける
                        .copyright.mt-3
                            hr
                            span.text-muted.small(style="font-size:12px") 続行することで、当社の利用規約およびプライバシーポリシーに同意するものとします。



    //- 背景画像
    div#intro.bg-image.shadow-1-strong
        div(style="background: linear-gradient(120.9deg, #fff 50.74%, #6d6d6d 102.92%);")
            div.container.row.align-items-center.h-100.m-auto
                div.col-12.col-md-6.py-5.text-dark(data-animate="animate__slideInLeft")
                    h1.mb-3.fw-bold.text-dark.text-center#headline-container
                        span.b-custom-gradient-text Rakuado
                        p.generate-text#headline(style="color:#777777")
                    .text-center
                        | サイトに集中、広告は楽アド。
                    .text-center.d-flex.flex-column.justify-content-center.align-items-center.mt-3
                        button.btn.b-custom-gradient.text-white.btn-lg.m-2.px-5.py-3.mb-3.cta-button(data-animate="animate__bounce"  data-delay="animate__delay-1s" onclick="displayLogin()", role="button", style="border-radius:50px") 審査申し込み
                .col-12.col-sm-6(data-animate="animate__slideInRight")
                    .container.p-3.text-center
                        img(src="/img/top-img.gif" style="width:90%")
                        span.text-muted(style="font-size: 12px;position: absolute;bottom: 5px;right: 0;" data-animate="animate__fadeIn" data-delay="animate__delay-2s")
                            | Illustration by 
                            a(href="https://icons8.com/illustrations/author/ZQDZn9ZZj5aQ") Violetta Barsuk
                            |  from 
                            a(href="https://icons8.com/illustrations") Ouch!
                        