extends ../dashboard/base

block mainContent
    ul.nav.nav-tabs
        li.nav-item
            a.nav-link(href='#personalInfo' data-bs-toggle='tab') Account settings
    .tab-content.pb-5#updateProfile(style="display:none")
        #personalInfo.tab-pane.fade
            .header.pt-3
                .profile-image.text-start(style="cursor:pointer")
                    img.shadow.border.border-dark(src=user.profileImage || 'https://placehold.co/51x76', alt='User Profile Image' style="object-fit: contain; width: 100px; height: 100px; border-radius: 50%; object-fit: cover;")
            form.row.mt-3
                .form-group.col-12.col-sm-6.d-none
                    label(for='profileImage') Profile picture
                    .input-group
                        input#profileImage.form-control(type='file', name="profileImage", value=user.profileImage)
                .form-group.col-12.col-sm-6.d-none
                    label(for='bannerImage') Banner image
                    .input-group
                        input#bannerImage.form-control(type='file', name="bannerImage", value=user.bannerImage)
                .form-group.col-12.col-sm-6
                    label(for='email') Email
                    input#email.form-control(name="email", type='email', placeholder='Enter Email' value=user.email)
                button.btn.btn-primary.my-4(type='submit') 送信する