extends ../../base

block mainContent
  style.
    #affiliateTable td{
      padding: 5px 20px;
    }
  .container.mt-2
    h1.text-center.display-6.mb-5 アフィリエイター
    .table-responsive.bg-white.p-1.rounded.shadow
      table.table.table-striped#affiliateTable
        thead
          tr
            th.text-center 名前
            th.text-center ウェブサイトのURL
            th.text-center 閲覧
            th.text-center クリック
            th.text-center アクティベート
            th.text-center 最新のステータス
            th.text-center 削除
        tbody#affiliateTableBody


          


  script(src="/js/affiliate.js")